// TUI color scheme
///////////////////

// TUI primary
$tui-prim-red: #ef0000;
$tui-prim-blue: #70cbf4;
$tui-prim-blue-50p: #c2e6fa;
$tui-prim-blue-25p: #e2f3fe;
$tui-prim-dark-blue: #092a5e;
$tui-prim-white: #ffffff;

// TUI secondary
$tui-sec-yellow: #ffe100;
$tui-sec-green: #aad700;

// TUI achromatic
$tui-ach-beige: #d7d2c3;
$tui-ach-grey: #737373;
$tui-ach-black: #000000;